<div id="pdf-print-wrapper">
  <table class="branding">
    <tr>
      <td><img src="/themes/custom/dhsc_theme/assets/images/logo.jpg"></td>
      <td>{{ 'Digitising Social Care'|t }}</td>
    </tr>
  </table>
  <h2>{{ 'Result summary'|t }}</h2>

  {% for result in results %}
    <article class="mt-6 mb-8">
      <h3 class="mb-5">{{ result['#title'] }}</h3>
      {% for response in result['#responses'] %}
        <div class="mb-5">
          <h4>{{ response.question }}</h4>
          <p>{{ response.response }}</p>
        </div>
      {% endfor %}
      <div class="results-summary">
        {{ result['#result'].content }}
      </div>
    </article>
  {% endfor %}

</div>
