{% if result_variant %}
  {% set variant = {
        '#type':   'processed_text',
        '#text':    result_variant.value,
        '#format': 'full_html',
  } %}
{% endif %}

<div id="content" role="main">
  <div class="content_align prose">
    <div class="core">
      <div class="sub-core">
        <section class="header">
          <div class="section-title">
            <h1>{{ count ~ ' out of '|t ~ total_count }}
              {{'suppliers match your criteria'|t}}</h1>
          </div>
        </section>
        <section class="app_results">
          <div class="app_section_inner">
            {% if no_result %}
              <div class="section-title">
                <h1 style="color:#000000">{{ no_result }}</h1>
              </div>
            {% else %}
              <div class="app_results_table">
                {{ search_criteria }}
                <div>
                  {% if submission_url %}
                    <a href="{{ submission_url }}">{{ 'Change my responses'|t }}</a>
                  {% endif %}
                </div>
                {{ result }}
                <div>
                  <strong>{{ non_matching_count }}
                    {{'suppliers don\'t match your criteria'|t}}</h1>
                </div>
                {{ partial_matches }}
                </div>
                <div>
                {{ no_matches }}
                </div>
                {{ email_form }}
              </div>
            {% endif %}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
