{% set classes = [
  'm-breadcrumbs'
] %}
<nav{{ attributes.addClass(classes) }} aria-labelledby="system-breadcrumbs">
  <h2 id="system-breadcrumbs" class="sr-only">{{ 'Breadcrumbs'|t }}</h2>
  <ol class="m-breadcrumbs__list list-none flex">
    {% for item in items %}
      <li class="m-breadcrumbs__item">
        {% if item.url %}
          <a class="m-breadcrumbs__link" href="{{ item.url }}">{{ item.text }}</a>
          <span class="m-breadcrumbs__separator mx-2">></span>
        {% else %}
          {{ item.text }}
          <span class="m-breadcrumbs__separator mx-2">></span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
