{%
  set classes = [
  'o-block',
  'o-block--' ~ configuration.provider|clean_class,
  'o-block--' ~ plugin_id|clean_class,
  'w-full',
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% include "@molecules/branding/branding.twig" with {
      "site_logo": site_logo,
      "site_name": site_name,
      "site_slogan": site_slogan
    } %}
  {% endblock %}
</div>
