{#
/**
* @file
* Default theme implementation for the guides_prev_next_block block.
*/
#}

{% 
  set classes = [
    'lgd-prev-next',
    'lgd-prev-next--guides',
  ]
%}

{% if not localgov_base_remove_css %}
  {{ attach_library('localgov_base/prev-next') }}
{% endif %}

{% set previous_icon = 'chevron-left' %}
{% set next_icon = 'chevron-right' %}

<nav{{attributes.addClass(classes)}}>
  <ul class="lgd-prev-next__list flex justify-between">
    {% if previous_url %}
      <li class="lgd-prev-next__list-item lgd-prev-next__list-item--prev">
        <a href="{{ previous_url }}" class="lgd-prev-next__link lgd-prev-next__link--prev flex" aria-label="{{ 'Previous'|t }}: {{ previous_title }}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.11581 11.6599L6.84581 8.65992C6.9159 8.5899 7.00487 8.54182 7.10185 8.52154C7.19882 8.50126 7.2996 8.50967 7.39188 8.54573C7.48415 8.58179 7.56393 8.64395 7.62145 8.7246C7.67898 8.80526 7.71177 8.90093 7.71581 8.99992V10.9999H18.7158C18.981 10.9999 19.2354 11.1053 19.4229 11.2928C19.6105 11.4803 19.7158 11.7347 19.7158 11.9999C19.7158 12.2651 19.6105 12.5195 19.4229 12.707C19.2354 12.8946 18.981 12.9999 18.7158 12.9999H7.71581V14.9999C7.71452 15.0998 7.68334 15.197 7.62631 15.279C7.56927 15.3609 7.48899 15.424 7.39581 15.4599C7.33663 15.474 7.27499 15.474 7.21581 15.4599C7.14659 15.4592 7.07821 15.4447 7.01468 15.4172C6.95114 15.3898 6.89373 15.3499 6.84581 15.2999L4.11581 12.2999C4.04098 12.2101 4 12.0968 4 11.9799C4 11.863 4.04098 11.7498 4.11581 11.6599Z" fill="#00594C"/>
          </svg>
          {{ 'Previous'|t }}
        </a>
      </li>
    {% endif %}
    {% if next_url %}
      <li class="lgd-prev-next__list-item lgd-prev-next__list-item--next">
        <a href="{{ next_url }}" class="lgd-prev-next__link lgd-prev-next__link--next flex" aria-label="{{ 'Next'|t }}: {{ next_title }}">
          {{ 'Next'|t }}
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.6 11.6599L16.87 8.65992C16.7999 8.5899 16.7109 8.54182 16.614 8.52154C16.517 8.50126 16.4162 8.50967 16.3239 8.54573C16.2317 8.58179 16.1519 8.64395 16.0944 8.7246C16.0368 8.80526 16.004 8.90093 16 8.99992V10.9999H5C4.73478 10.9999 4.48043 11.1053 4.29289 11.2928C4.10536 11.4803 4 11.7347 4 11.9999C4 12.2651 4.10536 12.5195 4.29289 12.707C4.48043 12.8946 4.73478 12.9999 5 12.9999H16V14.9999C16.0013 15.0998 16.0325 15.197 16.0895 15.279C16.1465 15.3609 16.2268 15.424 16.32 15.4599C16.3792 15.474 16.4408 15.474 16.5 15.4599C16.5692 15.4592 16.6376 15.4447 16.7011 15.4172C16.7647 15.3898 16.8221 15.3499 16.87 15.2999L19.6 12.2999C19.6748 12.2101 19.7158 12.0968 19.7158 11.9799C19.7158 11.863 19.6748 11.7498 19.6 11.6599V11.6599Z" fill="#00594C"/>
          </svg>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
