{% set classes = [
  'm-footer-contact',
  'tablet:flex tablet:items-center tablet:justify-end tablet:gap-6 mb-4'
] %}
<div{{attributes.addClass(classes) }}>
  {% if link %}
    <div class="m-footer-contact__link mb-4 tablet:mb-0">
      {{ link }}
    </div>
  {% endif %}
  {% if phone %}
    <div class="m-footer-contact__phone mb-4 tablet:mb-0">
      <span class="me-2">{{ 'Call our helpdesk:'|t }}</span><a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
  {% endif %}
</div>
