{% set classes = [
  'm-content-list',
  'mb-8'
] %}
{#
Template
#}
<section{{ attributes.addClass(classes) }}>
  {% if section_title %}
    <h2 class="m-content-list__title text-base">
      {{ section_title }}
    </h2>
  {% endif %}
  <ul class="m-content-list__links ml-6">
    {% for section_link_group in section_links %}
      <li class="m-content-list__links">
        <a href="{{ section_link_group.section_link.href }}" class="m-content-list__parent"> {{ section_link_group.section_link.title }}</a>
        {% if section_link_group.child_links %}
          <ul class="m-content-list__children">
            {% for child_link in section_link_group.child_links %}
              <li><a href="{{ child_link.href }}" class="m-content-list__child"> {{ child_link.title }} </a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

