{% set classes = [
  'm-content-list',
  'mb-8'
] %}
{#
Template
#}
<section{{ attributes.addClass(classes) }}>
  {% if section_title %}
    <h2 class="m-content-list__title text-base mb-2">
      {{ section_title }}
    </h2>
  {% endif %}
  <ul class="m-content-list__links ml-4 list-disc">
    {% for section_link_group in section_links %}
      <li class="m-content-list__links mb-2">
        <a href="{{ section_link_group.section_link.href }}" class="m-content-list__parent block mb-2"> {{ section_link_group.section_link.title }}</a>
        {% if section_link_group.child_links %}
          <ul class="m-content-list__children ml-4 list-disc">
            {% for child_link in section_link_group.child_links %}
              <li class="mb-2"><a href="{{ child_link.href }}" class="m-content-list__child"> {{ child_link.title }} </a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

