{#
  Template
#}
<a class="m-content-card" href="{{ link }}" title="{{ heading }}">
		<div class="m-content-card__image">
			{{ image }}
		</div>
		<div class="m-content-card__content">
			<h3>{{ heading }}</h3>
			<p>{{ description }}</p>
			{% include '@assets/icons/icons.twig' with {
				icon: 'file'
			} %}
		</div>
</a>
