{#
  Template
#}
<a class="homepage-card" href="{{ link }}" title="{{ heading }}">
		<div class="image-wrapper">
			{{ image }}
		</div>
		<div class="content-wrapper">
			<h3>{{ heading }}</h3>
			<p>{{ description }}</p>
			{% include '@assets/icons/icons.twig' with {
				icon: 'file'
			} %}
		</div>
</a>
