{#
  Template
#}

{# Classes #}
{% set classes = [
  variant == 'default' ? 'm-back-link-default' : 'm-back-link-form',
] %}

{% if variant == 'default' %}
  <a{{attributes.addClass(classes|sort|join('')|trim)}} href="#" title="{{ label|t }}">
    <span class="m-back-link-default__icon">{{ icon }}</span>
    <span class="m-back-link-default__label">{{ label|t }}</span>
  </a>
{% endif %}

{% if variant == 'form' %}
  <a{{attributes.addClass(classes|sort|join('')|trim)}}>
    <span class="m-back-link-form__icon">{{ icon }}</span>
    <input class="m-back-link-form__label" {{ attributes }}/>
  </a>
{% endif %}
