{#
  Template
#}
<section class="m-banner relative">
	<div class="m-banner__image w-full tablet:max-height-[340px]">
		{{ image }}
	</div>
  {% if url or heading or text %}
  <div class="m-banner__container container mx-auto relative">
    <div class="m-banner__content w-full tablet:w-9/12 tablet:absolute left-0 bottom-0 tablet:translate-y-1/2	z-1">
      {% if url %}
      <a class="m-banner__link" href="{{ url }}">
        {% endif %}
        <div class="m-banner__copy py-4 tablet:py-8 px-4 lg:px-8 bg-green-40 text-black">
          <h2>{{ heading }}</h2>
          <div>{{ icon }}</div>
          <p class="text-base tablet:text-md">{{ text }}</p>
        </div>
        {% if url %}
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>
