{% set classes = [
  'o-quick-links'
] %}
<section{{attributes.addClass(classes)}}>
  <div class="o-quick-links__container py-4">
    {% if title %}
      <h2 class="o-quick-links__title mb-6">{{ title }}</h2>
    {% endif %}
    <div class="o-quick-links__content space-y-3 tablet:flex tablet:gap-6 tablet:space-y-0">
      {% if items_left is not empty %}
        <div class="o-quick-links__column space-y-3 tablet:flex tablet:gap-6 flex-1 tablet:items-stretch tablet:flex-row tablet:flex-wrap tablet:space-y-0">
          {% if items_left is iterable %}
            {% for key, item in items_left if key|first != '#' %}
              {{ item }}
            {% endfor %}
          {% else %}
            {{ items }}
          {% endif %}
        </div>
      {% endif %}
      {% if items_right is not empty %}
        <div class="o-quick-links__column grow tablet:flex tablet:gap-6 flex-1 space-y-3 tablet:items-stretch tablet:flex-row tablet:flex-wrap tablet:space-y-0">
          {% if items_right is iterable %}
            {% for key, item in items_right if key|first != '#' %}
              {{ item }}
            {% endfor %}
          {% else %}
            {{ items }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
