{#
  Template
#}
<li class="lgd-prev-next__list-item lgd-prev-next__list-item--prev">
	<a href="{{ previous_url }}" class="lgd-prev-next__link lgd-prev-next__link--prev" aria-label="{{ button_label }}: {{ previous_title }}">
	  {{ icon }}
		{{ button_label }}
	</a>
</li>