{# Classes #}
{% set classes = [
  'm-menu m-menu--main',
  'text-black',
] | sort | join(' ') | trim %}

{# Template #}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    <ul class="m-menu--level-0 relative flex" x-data="{ isSelected: false }" @activedropdownmain.window="isSelected = $event.detail.active">
      {% for item in items %}
        <li class="mr-2 flex items-center" x-data="">
          {% if item.below %}
            <a href="{{ item.url }}" class="mr-2">{{ item.title }}</a>
            <a href="#">
              <span
                x-show="isSelected == false || isSelected != {{ loop.index }}"
                @click="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
                @keyup.enter="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
              >{{ svgIconDown }}</span>
              <span
                x-show="isSelected == {{ loop.index }}"
                @click="$dispatch('activedropdownmain', { active: false })"
                @keyup.enter="$dispatch('activedropdownmain', { active: false })"
              >{{ svgIconUp }}</span>
            </a>
          {% else %}
            <a href="{{ item.url }}"
               @click="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
               @keyup.enter="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
            >
              {{ item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div x-data="{ isActive: false }">
      {% for item in items %}
        <div x-show="isActive == {{ loop.index }}" class="relative mt-4 -mb-4 w-[100vw] left-[50%] -translate-x-[50%] bg-white">
          <div class="container mx-auto">
            <ul class="m-menu--level-1 flex flex-col py-4 -mb-4"
                @activedropdownmain.window="isActive = $event.detail.active"
            >
              {% for subItem in item.below %}
                <li>
                  <a href="{{ subItem.url }}">{{ subItem.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>
