{# Classes #}
{% set classes = [
  'm-menu m-menu--main',
  'text-black',
] | sort | join(' ') | trim %}

{# Template #}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    <ul class="m-menu--level-0 relative flex items-start py-[15px]" x-data="{ isSelected: false }" @activedropdownmain.window="isSelected = $event.detail.active">
      {% for item in items %}
        <li class="flex items-center" x-data="">
          {% if item.below %}
            <a href="#"
               class="flex items-center text-black"
               x-show="isSelected == false || isSelected != {{ loop.index }}"
               @click.prevent="$dispatch('activedropdownmain', { active: {{ loop.index }} }); $dispatch('closesearchtrigger')"
               @keydown.enter="$dispatch('activedropdownmain', { active: {{ loop.index }} }); $dispatch('closesearchtrigger')"
               aria-expanded="false"
               aria-controls="menu_main_sub_{{ loop.index }}"
            ><span class="mr-2">{{ item.title }}</span>{{ svgIconDown }}</a>
            <a href="#"
               class="flex items-center text-black"
               x-show="isSelected == {{ loop.index }}"
               @click.prevent="$dispatch('activedropdownmain', { active: false })"
               @keydown.enter="$dispatch('activedropdownmain', { active: false })"
               aria-expanded="true"
               aria-controls="menu_main_sub_{{ loop.index }}"
            ><span class="mr-2">{{ item.title }}</span>{{ svgIconUp }}</a>
          {% else %}
            <a href="{{ item.url }}"
               class="block text-black"
               @click="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
               @keydown.enter="$dispatch('activedropdownmain', { active: {{ loop.index }} })"
            >
              {{ item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div x-data="{ isActive: false }">
      {% for item in items %}
        <div x-show="isActive == {{ loop.index }}"
            id="menu_main_sub_{{ loop.index }}"
             class="relative w-[100vw] left-[50%] -translate-x-[50%] bg-white">
          <div class="container mx-auto">
            {% if loop.index == 1 %}
            <div class="tablet:flex tablet:items-start py-7">
              <div class="tablet:w-6/12">
                <h3 class="text-sm tablet:text-md">{{ item.title }}</h3>
            {% endif %}
            {% if loop.last %}
                <ul class="m-menu--level-1 py-7"
                    @activedropdownmain.window="isActive = $event.detail.active"
                >
            {% else %}
                  <ul class="m-menu--level-1 py-4"
                      @activedropdownmain.window="isActive = $event.detail.active"
                  >
            {% endif %}
                {% for subItem in item.below %}
                  <li class="tablet:mr-8 flex items-center">
                    <a href="{{ subItem.url }}" class="block text-forest text-2xs tablet:text-xs mb-4">{{ subItem.title }}</a>
                  </li>
                {% endfor %}
                </ul>
            {% if loop.index == 1 %}
              </div>
              {% if featuredLinks %}
              <div class="tablet:w-6/12">
                {{ featuredLinks }}
              </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>
