{# Classes #}
{% set classes = [
  'm-menu m-menu--secondary',
  'text-black',
] | sort | join(' ') | trim %}

{# Template #}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    <ul class="m-menu--level-0 relative flex" x-data="{ isSelected: false }" @activedropdownsecondary.window="isSelected = $event.detail.active">
      {% for item in items %}
        <li class="mr-2 flex items-center" x-data="">
          {% if item.below %}
            <a href="{{ item.url }}" class="mr-2">{{ item.title }}</a>
            <a href="#"
               x-show="isSelected == false || isSelected != {{ loop.index }}"
               @click="$dispatch('activedropdownsecondary', { active: {{ loop.index }} })"
               @keyup.enter="$dispatch('activedropdownsecondary', { active: {{ loop.index }} })"
            >{{ svgIconDown }}</a>
            <a href="#"
               x-show="isSelected == {{ loop.index }}"
               @click="$dispatch('activedropdownsecondary', { active: false })"
               @keyup.enter="$dispatch('activedropdownsecondary', { active: false })"
            >{{ svgIconUp }}</a>
          {% else %}
            <a href="{{ item.url }}" @click="$dispatch('activedropdownsecondary', { active: {{ loop.index }} })">
              {{ item.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <div x-data="{ isActive: false }">
      {% for item in items %}
        <div x-show="isActive == {{ loop.index }}" class="relative w-[100vw] left-[50%] -translate-x-[50%] bg-white">
          <div class="container mx-auto">
            {% if item.below %}
            <ul class="m-menu--level-1 flex flex-col pt-4"
                @activedropdownsecondary.window="isActive = $event.detail.active"
            >
              {% for subItem in item.below %}
                <li>
                  <a href="{{ subItem.url }}">{{ subItem.title }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</nav>
