<div class="m-progress-bar">
  <div class="m-progress-bar--text">
    Question {{ current }} of {{ total }}
  </div>
  <progress
    class="m-progress-bar--indicator"
    max="{{ max }}"
    value="{{ current }}">
    {{ percentage }}
  </progress>
</div>
