{#
  Template
#}
{% set classes = [
  't-supplier-page'
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="t-supplier-page__heading-wrapper max-w-[940px]">
    {% if title %}
      <div class="t-supplier-page__title max-w-[672px]">
        <h1 class="mb-4">{{ title }}</H1>
      </div>
    {% endif %}
    {% if list_price %}
      <div class="t-supplier-page__list_price mb-4 tablet:mb-7">
        {{ 'List price' ~ ": " ~ list_price }}
      {% endif %}
    </div>
    <div class="flex justify-between mobile:flex-col-reverse tablet:flex-row">
    {% if summary %}
      <div class="t-supplier-page__summary mobile:mt-6 tablet:mr-6 prose">
        <h2>{{ 'Summary' }}</h2>
        <p>{{ summary }}</p>
      </div>
    {% endif %}
    {% if image %}
      <div class="t-supplier-page__image">
        {{ image }}
      </div>
    {% endif %}
  </div>
  </div>
  {% if content %}
    <div class="t-supplier-page__content max-w-[672px]">
      {{ content }}
    </div>
  {% endif %}
  {% if last_updated %}
    <div class="t-supplier-page__last_updated">
      {{ 'Last updated' ~ ": " ~ last_updated }}
    </div>
  {% endif %}
</div>
