{#
  Template
#}

{# Classes #}
{% set classes = [
  'm-quick-link',
  'm-quick-link--' ~ quickLinkType|default('green-20'),
  'relative rounded-md'
] | join(' ') | trim %}

{% set attributes = attributes
  .addClass(classes)
%}

<div {{ attributes }}>
  {% if image %}
    <div class="m-quick-link__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="content-wrapper flex flex-col justify-between p-4 tablet:p-6 ">
    {% if heading %}
      <h3 class="m-quick-link__link">
        {% if link %}
          <a href="{{ link }}">
        {% endif %}
          {{ heading }}
        {% if link %}
          </a>
        {% endif %}
      </h3>
    {% endif %}
    {% if description %}
      <div class="grow text-base leading-relaxed">{{ description }}</div>
    {% endif %}
    <p class="m-quick-link__icon flex justify-end pt-4">
      <span>{{ icon }}</span>
    </p>
  </div>
</div>
