{#
Classes
#}
{% set classes = [
  't-event'
] %}

{#
  Template
#}
<article{{ attributes.addClass(classes) }}>
  <div class="t-event__header">
    {% if title %}
      <div class="t-event__title">
        <h1>{{ title }}</H1>
      </div>
    {% endif %}
  </div>
  <div class="t-event__main">
    {% if event_details %}
      <div class="t-event__details">
        {{ event_details }}
      </div>
    {% endif %}
    {% if content %}
      <div class="t-event__content">
        {{ content }}
      </div>
    {% endif %}
    {% if related %}
      <div class="t-event__related">
        {{ related }}
      </div>
    {% endif %}
  </div>
</article>
