{% if privacy_settings_tab_label %}
	<button type="button" class="eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}

<div aria-labelledby="popup-text" {{ attributes }}>
	<div class="popup-content info eu-cookie-compliance-content">
		{% if close_button_enabled %}
			<button class="eu-cookie-compliance-close-button">Close</button>
		{% endif %}
		<div id="popup-text" class="eu-cookie-compliance-message" role="document">
			{{ message }}
			{% if more_info_button %}
				<button type="button" class="find-more-button eu-cookie-compliance-more-button">{{ more_info_button }}</button>
			{% endif %}
		</div>

		{% if cookie_categories %}
			<div id="eu-cookie-compliance-categories" class="eu-cookie-compliance-categories">
				{% for key, category in cookie_categories %}
					<div class="eu-cookie-compliance-category">
						<div>
							<input type="checkbox" name="cookie-categories" class="eu-cookie-compliance-category-checkbox" id="cookie-category-{{ key }}"
										value="{{ key }}"
										{% if category.checkbox_default_state in ['checked', 'required'] %} checked {% endif %}
										{% if category.checkbox_default_state == 'required' %} disabled {% endif %} >
							<label for="cookie-category-{{ key }}">{{ category.label }}</label>
						</div>
						{% if category.description %}
							<div class="eu-cookie-compliance-category-description">{{ category.description }}</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}

		<div id="popup-buttons" class="eu-cookie-compliance-buttons{% if cookie_categories %} eu-cookie-compliance-has-categories{% endif %}">

			{% if cookie_categories and save_preferences_button_label %}
				<div class="eu-cookie-compliance-categories-buttons">
					<button type="button" class="eu-cookie-compliance-save-preferences-button">{{ save_preferences_button_label }}</button>
				</div>
			{% endif %}

			{% if tertiary_button_label %}
				<button type="button" class="{{ tertiary_button_class }}">{{ tertiary_button_label }}</button>
			{% endif %}

			<button type="button" class="{{ primary_button_class }}">{{ agree_button }}</button>

			{% if secondary_button_label %}
				<button type="button" class="{{ secondary_button_class }}">{{ secondary_button_label }}</button>
			{% endif %}
		</div>
	</div>
</div>
