<p>
  <a href="{{ url }}">
    <h3>{{ title }}</h3>
  </a>
</p>
<p>
  <strong>{{ 'Your response:'|t }}
    {{ answer }}</strong>
</p>
<div class="border-green border-l-4 pl-6">
  {{ content }}
</div>
