{#
  Template
#}
<article class="t-casestudy-page">
  <div class="t-casestudy-page__heading-wrapper max-w-[672px]">
    {% if title %}
      <div class="t-casestudy-page__title mb-3">
        <h1>{{ title }}</H1>
      </div>
    {% endif %}
    {% if lead %}
      {{ lead }}
    {% endif %}
  </div>
  {% if image|render is not empty %}
    <div class="t-casestudy-page__image mb-5 tablet:mb-7">
      {{ image }}
    </div>
  {% endif %}
  {% if content %}
    <div class="t-casestudy-page__content">
      {{ content }}
    </div>
  {% endif %}

  <div class="t-casestudy-page__bottom-components tablet:flex tablet:flex-wrap tablet:flex-row">
    {% if further_information %}
      <section class="t-casestudy-page__related w-full tablet:w-9/12">
        {{ further_information }}
      </section>
    {% endif %}
    <div class="t-casestudy-page__back-to-top w-full text-right tablet:w-3/12 ml-auto mt-auto">
      {% include "@molecules/back-to-top/back-to-top.twig" %}
    </div>
  </div>

</article>
