{#
  Template
#}
<article class="t-casestudy-page">
  <div class="t-casestudy-page__heading-wrapper max-w-[672px]">
    {% if title %}
      <div class="t-casestudy-page__title mb-3 leading-[2rem] tablet:leading-[3.438rem]">
        <h1>{{ title }}</H1>
      </div>
    {% endif %}
    {% if lead %}
      {{ lead }}
    {% endif %}
  </div>
  {% if image %}
    <div class="t-casestudy-page__image mb-5 tablet:mb-7">
      {{ image }}
    </div>
  {% endif %}
  {% if content %}
    <div class="t-casestudy-page__content">
      {{ content }}
    </div>
  {% endif %}

  {% if further_information %}
    <section class="t-casestudy-page__related w-full tablet:w-9/12">
      {{ further_information }}
    </section>
  {% endif %}

</article>
