{% set classes = [
  'm-cta-banner',
  'm-cta-banner--' ~ layout|clean_class,
  'py-4',
] %}

{% set titleTag = header.0 ? 'h3' : 'h2' %}

<div{{ attributes.addClass(classes) }}>
  {% if header %}
    <h2 class="m-cta-banner__header text-lg leading-tight mb-4">
      {{ header }}
    </h2>
  {% endif %}

  <div class="m-cta-banner__container relative tablet:flex tablet:gap-6">
    <div class="m-cta-banner__content tablet:w-6/12 tablet:flex tablet:flex-col">
      {% if title %}
        <{{ titleTag }} class="m-cta-banner__title text-md leading-tight mb-3">
          <a href="{{ link }}" class="m-cta-banner__link">
            {{ title }}
          </a>
        </{{ titleTag }}>
      {% endif %}
      {% if description %}
        <div class="m-cta-banner__description mb-3">{{ description }}</div>
      {% endif %}
      {% if secondary_title %}
        <div class="m-cta-banner__secondary_title mb-3 text-coolgrey">{{ secondary_title }}</div>
      {% endif %}
    </div>

    {% if media %}
      <div class="m-cta-banner__media tablet:w-6/12 mb-4 tablet:mb-0">
        {{ media }}
      </div>
    {% endif %}

  </div>
</div>
