<div id="pdf-print-wrapper">
  <table class="branding">
    <tr>
      <td><img src="/themes/custom/dhsc_theme/assets/images/logo.jpg"></td>
      <td>{{ 'Digitising Social Care'|t }}</td>
    </tr>
    <tr>
      <td colspan="2"><p class="report-title">{{ 'What Good Looks Like'|t  }}</p></td>
    </tr>
  </table>

  <h2>{{ 'Result summary'|t }}</h2>

  {% for result in results %}
    <article class="mt-6 mb-8">
      <h3 class="mb-5">{{ result['#title'] }}</h3>
      {% for response in result['#responses'] %}
        <div class="o-tool__summary text-sm tablet:text-md mb-2">

            <h3 class="font-bold text-md mb-3 leading-[30px]">{{ response.processed_text_2['#text']|striptags }}</h3>
            <div class="prose max-w-full">{{ response.processed_text_3 }}</div>

            <h4 class="font-bold text-md mt-4 mb-3 leading-[30px]">You rated your organisation</h4>
            <p class="font-normal text-sm mb-6">{{ response.response_text }}</p>

        </div>
      {% endfor %}
      <div class="results-summary">
        {{ result['#result'].content }}
      </div>
    </article>
  {% endfor %}

</div>
