{#
  Template
#}

{# Classes #}
{% set classes = [
  'm-card',
  'm-card--event',
  'relative',
] | join(' ') | trim %}

{% set attributes = attributes
  .addClass(classes)
%}

<div {{ attributes }}>
  {% if image %}
  <div class="m-card__image">
			{{ image }}
  </div>
  {% endif %}
  <div class="m-card__content">
    {% if heading %}
    <h3>{{ heading }}</h3>
    {% endif %}
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
    {% if date %}
    <p>{{ date }}</p>
    {% endif %}
  </div>
  {% if link %}
    <a href="{{ link }}" class="absolute top-0 bottom-0 left-0 right-0"></a>
  {% endif %}
</div>
