{#
  Template
#}
<div class="m-event-details">
  {{ 'Start'|t }} {{ date }}
  {% if end_date is not empty %}
    {{ 'End'|t }} {{ end_date }}
  {% endif %}
  <div class="break-words">
    {{ link }}
  </div>
</div>
