{#
  Template
#}
<div class="m-event-details">
  {% if expired %}
    <div class="m-event-details__expired">
      <span>{{ 'This event has expired'|t }}</span>
    </div>
  {% else %}
    <div class="m-event-details__wrapper tablet:flex tablet:flex-row tablet:gap-6 pt-3 border-t border-t-black-20 text-base">

      {% if date %}
        <div class="m-event-details__date tablet:w-2/4">
          <h3 class="mb-2">{{ 'Date and time'|t }}</h3>

          <div><b>{{ 'Start'|t }}:</b> {{ date }}</div>

          {% if end_date is not empty %}
            <div><b>{{ 'End'|t }}:</b> {{ end_date }}</div>
          {% endif %}

        </div>
      {% endif %}

      {% if location or link %}
        <div class="m-event-details__location__link tablet:w-2/4">

          {% if location %}
            <div class="m-event-details__location">
              <h3 class="mb-2">{{ 'Location'|t }}</h3>
              {% if location.link %}
                <a href="{{ location.link }}" class="text-base text-forest" target="_blank">{{ location.place }}</a>
              {% else %}
                {{ location.place }}
              {% endif %}
            </div>
          {% endif %}

          {% if link %}
            <div class="m-event-details__link break-words text-forest">
              {{ link }}
            </div>
          {% endif %}

        </div> {# End of right side #}
      {% endif %}
    </div> {# End of bordered component #}
  {% endif %}

</div>
