<div class="o-tool o-tool--assessment">
  <header class="o-tool__header">
    <h2>{{ count ~ ' out of '|t ~ total_count }} {{'suppliers match your criteria'|t}}</h2>
  </header>
  <div class="o-tool__content">
    {% if no_result %}
      <div class="section-title">
        <h3 style="color:#000000">{{ no_result }}</h3>
      </div>
    {% else %}
      <div class="o-tool__results">
        <div class="o-tool__criteria">
          {{ search_criteria }}
        </div>
        <div class="o-tool__actions">
          {% if submission_url %}
            <a href="{{ submission_url }}">{{ 'Change my responses'|t }}</a>
          {% endif %}
        </div>
        <div class="o-tool__results">
          {{ result }}
        </div>
        <div class="o-tool__unmatched">
          <h4>{{ non_matching_count }} {{'suppliers don\'t match your criteria'|t}}</h4>
          <div class="o-tool__partial">
            {{ partial_matches }}
          </div>
          <div class="o-tool__other">
            {{ no_matches }}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
