<div class="o-tool o-tool--assessment py-4 tablet:w-9/12">
  <header class="o-tool__header pb-4 mb-6 border-b-2 border-black-20">
    {% if summary %}
      <div class="o-tool__summary text-sm tablet:text-md text-coolgrey mb-2">
        {{ summary }}
      </div>
    {% endif %}
    {% if title %}
      <h2 class="o-tool__title mb-2">{{ title }}</h2>
    {% endif %}
    {% if variant %}
      <div class="o-tool__variant prose mb-2">
        {{ variant }}
      </div>
    {% endif %}
  </header>
  <div class="o-tool__content mb-4">
    {% if no_result %}
      <div class="o-tool__no-result mb-2">
        <h3>{{ no_result }}</h3>
      </div>
    {% else %}
      <div class="o-tool__result mb-4">
        {% if result is iterable %}
          {% for res in result %}
            {{ res }}
          {% endfor %}
        {% else %}
          {{ result }}
        {% endif %}
      </div>
      {% if submission_url %}
        <div class="o-tool__actions mb-20 print:hidden">
          <a href="{{ submission_url }}">{{ 'Change my responses'|t }}</a>
        </div>
      {% endif %}
      {% if email_form %}
        <div class="o-tool__email print:hidden" x-data="{ openEmailForm: false }">
          <div class="o-tool__header mb-4 text-base">
            <a href="#" x-on:click="window.print();" class="o-tool__email-link inline-block mb-5 tablet:mb-0 tablet:mr-5 a-button a-button--primary">
              <span class="inline-block">{{ 'Print my recommendations'|t }}</span>
            </a>
            <a href="#" class="o-tool__email-link inline-block a-button a-button--secondary" @click.prevent="openEmailForm = ! openEmailForm">
              <span class="inline-block">{{ 'Email my results to me'|t }}</span>
            </a>
          </div>
          <div class="o-tool__email-content border-s-2 border-black-20 pl-4 text-base" x-show="openEmailForm">
            {{ email_form }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
