{% set classes = [
  't-article-page'
] %}
{#
Template
#}
<article{{ attributes.addClass(classes) }}>
  {% if title %}
  <div class="t-article-page__title">
    <h1>{{ title }}</h1>
  </div>
	{% endif %}
  {% if article_details %}
    <div class="t-article-page__details text-md text-coolgrey mb-5 tablet:mb-7">
        <span itemprop="author">{{ article_details.author }}</span>,
        <time itemprop="datePublished" datetime="{{ article_details.date|date("Y-m-d") }}">{{ article_details.date|date("d F Y") }}</time>
    </div>
  {% endif %}

  <div class="t-article__main{% if related %} tablet:flex tablet:gap-4 desktop:gap-8{% endif %}">
    <div class="t-article__conten-wrapper{% if related %} tablet:w-9/12{% endif %}">

      {% if featured_image %}
        <div class="t-article-page__featured-image mb-5 tablet:mb-7">
          {{ featured_image }}
        </div>
      {% endif %}
      {% if summary %}
        <div class="t-article-page__summary mb-5 tablet:mb-7">
          {{ summary }}
        </div>
      {% endif %}

      {% if content %}
        <div class="t-article-page__content">
          {{ content }}
        </div>
      {% endif %}
    </div>

    {% if related %}
      <aside class="t-article__related tablet:w-3/12">
        {{ related }}
      </aside>
      {% endif %}
  </div>

  {% if further_information %}
    <section class="t-article__related w-full">
      {{ further_information }}
    </section>
  {% endif %}

</article>
