{#
  Template
#}
<li class="lgd-prev-next__list-item lgd-prev-next__list-item--next">
	<a href="{{ next_url }}" class="lgd-prev-next__link lgd-prev-next__link--next" aria-label="{{ button_label }}: {{ next_title }}">
		{{ button_label }}
    {{ icon }}
	</a>
</li>
